$large-mobile: 448px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$widescreen: 1200px !default;
$fullhd: 1384px !default;

$white: #ffffff;
$black: #000000;
$light-gray: #f0f0f0;

$regular: 400;
$semi-bold: 500;
$bold: 700;